
<ion-content class="ion-padding ion-text-center">
<div  id="fondo"></div>
  <div id="canvasContainer" class="canvas-container"></div><br>

  
  <h1 id="title">Bienvenido a Too Good For Hell</h1>

  <div id="respuestas">
    <ion-card id="respuesta1" button (click)="createRoom()">
      <h1>Crear sala!</h1>
    </ion-card>
    <ion-card id="respuesta2" button (click)="JoinRoom()">
      <h1>Unirme a sala!</h1>
      
    </ion-card>
 
  <ion-card id="respuesta3" button (click)="localGame()">
    
    <h1>Juego Local!</h1>
  </ion-card>
  </div>
  

   
  
</ion-content>